# 4장 함수와 입출력

### return 문이 없는 간단한 코드로 함수 호출하기

In [2]:
def print_star():
    print('********')
    
print_star()

********

In [3]:
def print_star():
    print('********')
    
print_star()
print_star()

********
********

In [8]:
def print_star(n):
    for _ in range(n):
        print('*********')
print_star(4)

*********
*********
*********
*********

In [9]:
def print_sum(a,b):
    result = a + b
    print(a,'과',b,'의 합은',result,'입니다')

print_sum(10,20)

10 과 20 의 합은 30 입니다

### 매개변수를 활용한 2차 방정식의 근 구하기

In [12]:
a = 1
b = 2
c = -8
# ( a * x^2 ) + ( b * x ) + c = 0
r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
print('해는', r1, '또는', r2)

해는 2.0 또는 -4.0

In [27]:
def print_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
print('해는', r1, '또는', r2)
# 계수 값이 다른 2차 방정식의 해를 구함
print_root(1, 2, -8)
print_root(2, -6, -8)

해는 2.0 또는 -4.0

### 반환문 return

In [30]:
def get_sum(a, b): # 두 수의 합을 반환하는 함수
    result = a + b
    return result # return 문을 사용하여 result를 반환
n1 = get_sum(10, 20) 
print('10과 20의 합 =', n1)
n2 = get_sum(100, 200)
print('100과 200의 합 =', n2)

10과 20의 합 = 30
100과 200의 합 = 300

In [31]:
def get_sum(a, b):
    return a + b
result = get_sum(100, 200)
print('두 수의 합', result)

두 수의 합 300

In [36]:
#두 개의 값을 튜플로 반환하는 방법과 전달받는 방법

def get_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2
# 함수 호출시 1, 2, -8 인자를 사용함
# result1, result2를 이용해서 결과 값을 반환 받는다.
result1, result2 = get_root(1, 2, -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

### 전역변수

In [23]:
def print_sum():
    result = a+b
    print(a, '과',b,'의 합은', result, '입니다.')

a=10 #전역변수
b=20 #전역변수

print_sum()
      
result= a + b
print(a, '과',b,'의 합은', result, '입니다.')

10 과 20 의 합은 30 입니다.
10 과 20 의 합은 30 입니다.

In [26]:
def print_sum():
    a=100
    b=200
    result = a+b
    print('print_sum()내부:',a, '과',b,'의 합은', result, '입니다.')

a=10 
b=20 

print_sum()
      
result= a + b
print('print_sum()외부:',a, '과',b,'의 합은', result, '입니다.')

print_sum()내부: 100 과 200 의 합은 300 입니다.
print_sum()외부: 10 과 20 의 합은 30 입니다.

In [97]:
#global 키워드를 사용한 전역변수의 참조 방법
def print_sum():
    global a, b # a, b는 함수외부에서 선언된 a, b를 사용한다.
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다.')
a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 외부 : 100 과 200 의 합은 300 입니다.

### 함수의 인자 전달 방식

In [99]:
#인자를 빠뜨린 호츨-> 에러
def print_star(n): # 인자를 필요로 함
    for _ in range(n):
        print('************************')
print_star()

TypeError: print_star() missing 1 required positional argument: 'n'

In [101]:
#디폴트 값을 가지는 print_star() 함수
def print_star(n = 1): # 매개변수 n은 디폴트 값 1을 가짐
    for _ in range(n):
        print('************************')
print_star() # 인자가 없더라도 에러 없이 수행됨

************************

In [102]:
#인자가 없이 호출해도 디폴트 값 1을 매개변수 n에 전달하므로
#한 줄의 별표 라인이 정상적으로 출력됨

def print_star(n = 1): # 매개변수 n은 디폴트 값 1을 가짐
    for _ in range(n):
        print('************************')
print_star() # 인자가 없더라도 에러 없이 수행됨

************************

### 함수의 인자 전달 방식

In [106]:
def print_star(n): # 인자를 필요로 함
    for _ in range(n):
        print('************************')
print_star() # 인자가 없으므로 에러 발생

TypeError: print_star() missing 1 required positional argument: 'n'

In [105]:
def print_star(n = 1): # 매개변수 n은 디폴트 값 1을 가짐
    for _ in range(n):
        print('************************')
print_star() # 인자가 없더라도 에러 없이 수행됨

************************

In [107]:
#• 두 개의 매개변수를 사용하는 div()라는 함수
#• 두 번째 매개변수에 2라는 디폴트 값을 할당

def div(a, b = 2):
    return a / b
print('div(4) =', div(4))
print('div(6, 3) =', div(6, 3))

div(4) = 2.0
div(6, 3) = 2.0

In [109]:
def div(a = 1, b = 2):
    return a / b
print('div() =', div()) # 인자가 없을 경우 div(1, 2)로 간주
print('div(4) =', div(4)) # div(4, 2)로 간주함
print('div(6, 3) =', div(6, 3))

div() = 0.5
div(4) = 2.0
div(6, 3) = 2.0

### 키워드 인자

In [111]:
#2차 방정식의 근을 구하는 함수와 함수 호출문

def get_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2
# 함수 호출시 인자를 1, 2, -8 인자를 사용함.
# result1, result2를 이용해서 결과 값을 반환 받는다.
result1, result2 = get_root(1, 2, -8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

### 가변인자

In [41]:
def greet(*names): #*names는 가변인자이다.
    for name in names:
        print('안녕하세요',name, '씨')
greet('홍길동','성춘향','마당쇠')
greet('James','Thomas')

안녕하세요 홍길동 씨
안녕하세요 성춘향 씨
안녕하세요 마당쇠 씨
안녕하세요 James 씨
안녕하세요 Thomas 씨

In [45]:
def foo(*args):
    print('인자의 개수:', len(args)) #len():길이를 구하는 함수
    print('인자들:',args)

foo (10,20,30)

인자의 개수: 3
인자들: (10, 20, 30)

In [47]:
#가변 인자를 가지는 함수를 이용해서 합계 구하기

def sum_nums(*numbers):
    result = 0
    for n in numbers:
        result= result + n
    return result
   
n1 = sum_nums(10,20,30,40,50)
print(n1)

150

In [48]:
print('enter your name: ')
name = input()
print('Hello', name, '!')

enter your name:
홍길동
Hello 홍길동 !

### 고급 format() 메소드

In [115]:
#실수 표현을 위한 포매팅에서 소수점
print('1/3은 {:.3f}'.format(1/3))

1/3은 0.333

In [116]:
#1000 단위 쉼표 출력방법
print('{:,}'.format(1234567890)) # 1000단위 쉼표 출력

1,234,567,890

# 5장 리스트

In [51]:
score_list = [87, 84, 95, 67, 88, 94, 63]
score_list

[87, 84, 95, 67, 88, 94, 63]

In [117]:
mixed_list = [100, 200, 'apple', 400]
mixed_list

[100, 200, 'apple', 400]

In [55]:
fruits = ['banana', 'apple', 'orange', 'kiwi'] # 문자열을 가지는 리스트
fruits

['banana', 'apple', 'orange', 'kiwi']

In [56]:
list1 = list() # 빈 리스트 생성하기 1
list2 = [] # 빈 리스트 생성하기 2
list3 = list((1, 2, 3)) # 튜플로부터 리스트 생성
list3

[1, 2, 3]

In [57]:
list4 = list(range(1, 10)) # range() 함수로부터 리스트 생성
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
n_list = [11, 22, 33, 44, 55, 66]
n_list

[11, 22, 33, 44, 55, 66]

In [59]:
n_list = [11, 22, 33, 44, 55, 66]
n_list[-1]

66

In [60]:
a_list = ['a', 'b', 'c', 'd', 'e']
a_list.append('f') # 'f' 항목 추가
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [61]:
n_list = [11, 22, 33, 44, 55, 66]
print(n_list) # 전체 항목 출력
del n_list[3] # 네 번째 항목(44) 삭제
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [62]:
a_list = [10, 20, 30, 40] # 리스트의 요소로 10이 있으므로 참

10 in a_list

True

In [64]:
a_list = [10, 20, 30, 40]
50 in a_list # 리스트의 요소로 50이 없으므로 거짓

False

In [65]:
# in 연산자의 사용
n_list = [11, 22, 33, 44, 55, 66]
print(88 in n_list) # 88은 n_list에 없음
print(55 in n_list) # 55는 n_list에 있음

False
True

### 멤버 연산자 : in, not in

In [67]:
#• in 연산을 사용하여 오류 발생을 미리 방지
#• 리스트 내부에 지우고자 하는 값이 있는 지 확인

n_list = [11, 22, 33, 44, 55, 66]
if (55 in n_list) : # 리스트의 요소로 55가 있을 경우
    n_list.remove(55) # 리스트에서 55를 삭제함
if (88 in n_list) : # 리스트의 요소로 88이 있을 경우
    n_list.remove(88) # 리스트에서 88을 삭제함
print(n_list)

[11, 22, 33, 44, 66]

### 리스트에 적용되는 내장함수

In [71]:
# min()과 max()는 한글 문자열을 요소로 가지는 리스트에도 동작

k_fruits = ['사과', '오렌지', '포도', '바나나']
min(k_fruits)

'바나나'

In [72]:
k_fruits = ['사과', '오렌지', '포도', '바나나']
max(k_fruits)

'포도'

### 리스트가 제공하는 메소드

In [74]:
# sort
list1 = [20, 10, 40, 50, 30]
list1.sort() # list1의 원소를 오름차순 정렬
list1

[10, 20, 30, 40, 50]

In [75]:
# list1의 원소를 내림차순 정렬
list1.sort(reverse = True)
list1

[50, 40, 30, 20, 10]

In [76]:
#count
# 'a'가 몇 개 있는지 그 개수를 반환
b_list = ['a', 'b', 'c', 'a', 'b', 'a']
b_list.count('a')

3

In [77]:
#extend
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [79]:
#insert() 
list1 = ['a', 'c', 'd']
list1.insert(1, 'b')
list1

['a', 'b', 'c', 'd']

In [80]:
#remove()
list1 = ['a', 'b', 'c', 'b', 'd']
list1.remove('b') # 제일 먼저 나타나는 'b' 원소를 삭제함
list1

['a', 'c', 'b', 'd']

In [81]:
#pop()
list1 = ['a', 'b', 'c', 'd']
list1.pop()

'd'

In [83]:
#remove()
list1 = ['a', 'b', 'c', 'd']
list1.remove(list1[-1]) # pop()과 유사하게 리스트의 마지막 원소 삭제
list1

['a', 'b', 'c']

In [84]:
#reverse()
list1 = [10, 20, 30, 40]
list1.reverse() # 리스트의 원소를 역순으로 다시 배열함
list1

[40, 30, 20, 10]

### 리스트와 연산
리스트 사이에서는 더하기 연산자 사용 가능
빼기 연산자나 곱하기, 나누기 연산자는 사용 불가

In [85]:
# 두 리스트를 합치는 연산자

list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1)
print(list1 + list2)

[11, 22, 33, 44]
[11, 22, 33, 44, 55, 66]

In [ ]:
#리스트의 곱셈 연산

In [87]:
list1 = [1, 2, 3, 4]
list1 * 2

list2 = list1 * 3 # list1 * 3의 결과를 list2에 할당
list2

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [88]:
#==연산자
list1 = [1, 2, 3, 4]
list2 = [1, 2, 3, 4]
list1 == list2

True

In [90]:
#>,>=,<.<=
list1 = [1, 2, 3, 4]
list2 = [2, 3, 3, 4]
list1 > list2

False

In [92]:
#for 문을 통해 리스트의 항목을 하나하나씩 나열 또는 연산 가
list1 = [10, 20, 30, 40, 50]
i = 0
for n in list1:
    list1[i] = n * 10
    i = i + 1
print(list1)

[100, 200, 300, 400, 500]

In [93]:
#리스트의 슬라이싱
a_list = [10, 20, 30, 40, 50, 60, 70, 80]
a_list[1:5]

[20, 30, 40, 50]

# 딕셔너리

In [3]:
#person 딕셔너리의 생성과 조회

person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
print(person['이름'])
print(person['나이'])
print(person['몸무게'])

홍길동
26
82

In [4]:
#딕셔너리의 항목 삽입
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['직업'] = '율도국의 왕' # 새로운 키:값의 항목 삽입
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '직업': '율도국의 왕'}

In [5]:
#딕셔너리의 항목 수정
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['나이'] = 27
person

{'이름': '홍길동', '나이': 27, '몸무게': 82}

In [6]:
 #딕셔너리의 항목 삭제
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
del person['나이']
person

{'이름': '홍길동', '몸무게': 82}

### 딕셔너리를 위한 함수와 연산

• len()
• 딕셔너리 내의 항목의 수를
얻기 위해 사용
• in , not in
• 키와 값이 딕셔너리에
있는지 확인
• ==, !=
• 두 개의 딕셔너리가 동일한
항목을 가지고 있는지 확인
• 딕셔너리에서는 >, >=, <, <=와 같은 비교연산을 지원하지 않
는다.

In [11]:
#딕셔너리의 keys(), values(), items() 메소드
person = {'이름' : '홍길동', '나이' : 26, '몸무게': 82}
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['이름', '나이', '몸무게'])
dict_values(['홍길동', 26, 82])
dict_items([('이름', '홍길동'), ('나이', 26), ('몸무게', 82)])

get() 메소드는 키를 인자로 넣어서 이 키가 딕셔너리에 있을 경
우 값을 반환하며, 키가 없을 경우 None이라는 값을 반환

In [15]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게': 82}
print(person.get('취미')) # '취미' 키가 없으므로 None을 반환함
print(person.get('이름'))

None
홍길동