# 모듈과 활용

### 날짜와 시간 모듈

In [4]:
#datetime 모듈
import datetime
datetime.datetime.now()

datetime.datetime(2023, 11, 22, 16, 26, 9, 88422)

In [6]:
import datetime as dt
datetime.datetime.now()

datetime.datetime(2023, 11, 22, 16, 27, 43, 244393)

In [7]:
today=datetime.date.today
print(today)

<built-in method today of type object at 0x00007FF924379790>

In [10]:
today=datetime.date.today()
today

datetime.date(2023, 11, 22)

In [11]:
today.year

2023

In [12]:
today.month

11

In [13]:
today.day

22

In [18]:
from datetime import datetime
start_time=datetime.now()
start_time

datetime.datetime(2023, 11, 22, 16, 37, 8, 220033)

In [19]:
start_time.replace(month=12,day=25)

datetime.datetime(2023, 12, 25, 16, 37, 8, 220033)

In [21]:
#time 모듈
#time 모듈을 이용한 에폭 이후의 시간 출력
import time
seconds=time.time()
print('에폭 이후의 시간=',seconds)

에폭 이후의 시간= 1700638858.7890255

In [25]:
import time

unix_timestamp=time.time()
local_time=time.localtime(unix_timestamp)
print(time.strftime('%Y-%m-%d %H:%M:%S', local_time))

2023-11-22 16:45:53

In [26]:
import time
print('**********')
time.sleep(5)

print('5초 후에 출력')

**********
5초 후에 출력

In [31]:
import time

start_time= time.time()

print(1*2*3*4*5*6*7*8*9*10)

end_time=time.time()

gap=end_time=start_time

print('계산에 걸리는 시간:, {:7.4f}초'.format(gap))

3628800
계산에 걸리는 시간:, 1700640421.1902초

# 수학 관련 모듈 math

In [34]:
import math as m
m.pow(3,3) #3의 3제곱

27.0

In [35]:
m.fabs(-99) # -99의 실수 절대값

99.0

In [36]:
m.ceil(2.1) # 2.1의 올림값

3

In [37]:
m.ceil(-2.1) # -2.1의 올림값

-2

In [38]:
m.floor(2.1) # 2.1의 내림값

2

In [39]:
m.log(2.71828)

0.999999327347282

In [40]:
m.log(100, 10) # 로그 10을 밑으로 하는 100값

2.0

# 랜덤 모듈

In [42]:
import random as rd
rd.random() # 0 이상 1 미만의 실수를 반환함

0.4589263553110071

In [43]:
rd.random() # 매번 다른 실수를 반환

0.3719369795569696

In [44]:
 rd.randrange(1, 7) # 1 이상 7 미만의 정수를 반환

1

In [45]:
 rd.randrange(0, 10, 2) # 1 이상 10 미만 정수 중 2의 배수를 반환함

8

In [46]:
 rd.randint(1, 10) # 1 이상 10 이하의(1, 10이 포함) 임의의 정수를 반환

6

In [48]:
# random 모듈을 활용한 섞기와 고르기
numlist = [10, 20, 30, 40, 50]
rd.shuffle(numlist) # 리스트의 원소를 랜덤하게 섞는다
numlist

[50, 20, 40, 10, 30]

In [49]:
rd.choice(numlist) # 리스트의 원소들 중에서 랜덤하게 하나를 고른다

10

In [50]:
rd.sample(numlist, 3) # 리스트의 원소들 중에서 랜덤하게 세개를 고른다

[20, 30, 10]

In [51]:
a = list(range(1, 11)) # 1에서 10까지의 연속적인 정수를 생성
rd.shuffle(a) # 리스트의 원소를 랜덤하게 섞는다
print(a)

[6, 10, 9, 4, 1, 3, 5, 8, 2, 7]