In [2]:
name='홍길동'
age= 27
print ('안녕','내 이름은', name, '이야','내 나이는', age,'입니다')

안녕 내 이름은 홍길동 이야 내 나이는 27 입니다

숫자는 변수로 사용할 수 없다.

강아지 이름은 "햇님"이야

In [6]:
age=int(input('나이를 입력하세요: '))
print('10년 후 나이:',age+10)

나이를 입력하세요: 25
10년 후 나이: 35

In [ ]:
number=int(input('정수를 입력하세요'))

In [7]:
for i in range(5):
    print('Hello World!')

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [13]:
s=0
for i in range(1,11):
    s=s+i
    print(s)

1
3
6
10
15
21
28
36
45
55

In [15]:
s=0
for i in range(1,11):
    s=s=i
    print('i={},s={}'.format(i,s))

i=1,s=1
i=2,s=2
i=3,s=3
i=4,s=4
i=5,s=5
i=6,s=6
i=7,s=7
i=8,s=8
i=9,s=9
i=10,s=10

In [ ]:
n=int(input('합계를 할 수를 입력하세요:'))

In [17]:
numbers=[11,22,33,44,55,66]

for n in numbers:
    print(n, end=' ')

11 22 33 44 55 66

In [19]:
numbers=[10,20,30,40,50]
s=0
for n in numbers:
    s=s+n
    print(s)

10
30
60
100
150

In [20]:
for ch in 'hello':
    print(ch, end=' ')

h e l l o

In [23]:
for i in range(2,10):     #외부 for 루프
    for j in range(1,10): #내부for루프
        print('{}*{}={:2d}'.format(i, j, i*j), end=' ')
    print() #내부 루프 수행 후 줄바꿈을 함

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [24]:
n=7

for i range(n):
    st=''
    for j in range(i):
        st=st+' '
        print (st+'#')

SyntaxError: invalid syntax (4010152157.py, line 3)

In [26]:
s = 0
for i in range(1, 11):
    s = s + i
    print('i = {}, s = {}'.format(i, s) )
print('1에서 10까지의 합:', s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
1에서 10까지의 합: 55

In [27]:
n=int(input('합계를 구할 수를 입력하세요:'))
s=0

for i in range(0,n):
    s=s+(i+1)
    
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요:100
1부터 100까지의 합은 5050

In [30]:
n=int(input('수를 입력하세요:'))
fact=1
for i in range(1, n+1):
    fact=fact*i
    
print('{}! = {}'.format(n,fact))

수를 입력하세요:3
3! = 6

In [31]:
 print('{}*{}={:2d}'.format(i, j, i*j), end=' ')

3*9=27